<h1 class="title page_title">TEAMS</h1>

<div class="team_container">
    <% @teams.each do |team| %>
            <a href="/teams/<%= team.id %>">
                <div class="team_item <%= team.name.downcase.delete(' ')%>_colour">
                    <p><%= team.name %></p>
                    <div class="logo" style=background-image:url(/logos/<%= "#{team.name.downcase.delete(" ")}_logo.jpg" %>)>
                    </div>
                </div>
            </a>
    <%end%>
</div>
