<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F WAN</title>
</head>
<body>
    <h1>F WAN</h1>
    <h2>What if the 2020 season took place?</h2>

    <%= yield %>

</body>
</html>