

<% @races.each do |race| %>
    <div class="result_container">
        <p><a href="/results/<%= race.id %>"><%= race.location %></a></p>
        <p>Winner : <%= race.winner.pretty_name if race.result.first %></p>
        <p><%=  %></p>
    </div>
<%end%>

