<h1 class="title page_title">RESULTS</h1>

<div class="result_container">
    <% @races.each do |race| %>
            <a href="/results/<%= race.id %>">
                <div class="result_item" >
                    <p><%= race.location %></p>
                    <% if race.result.first %>
                    <p>Winner : <%= race.winner.pretty_name %></p>
                    <% end %>
                </div>
            </a>
    <%end%>
</div>
