
.mercedes_colour{
    background-color: #00D2BE;
    border-color: #00D2BE;
}
.ferari_colour{
    background-color: #DC0000;
    border-color:  #DC0000;

}
.redbull_colour{
    background-color: #1E41FF;
    border-color:  #1E41FF;

}    
.renault_colour{
    background-color: #FFF500;
    border-color:  #FFF500;

}
.haas_colour{
    background-color: #787878;
    border-color:  #787878;
}   
.racingpoint_colour{
    background-color: #F596C8;
    border-color:  #F596C8;
}   
.alphatauri_colour{
    background-color: #C8C8C8;
    border-color:  #C8C8C8;
}   
.mclaren_colour{
    background-color: #FF8700;
    border-color:  #FF8700;
}   
.alpharomeo_colour{
    background-color: #960000;
    border-color:  #960000;
}   
.williams_colour{
    background-color: #0082FA;
    border-color:  #0082FA;
} 