body {
    background-color: white;
}

/* FRONT PAGE */

.title {
    text-align: center;
    font-size: 40px;
    color: red;
}

.title a{
    text-decoration: none;
    color: red;
}

.sub_title {
    font-size: 25px;
    color: red;
}

.nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 20vh;
    margin: auto;
}

.nav_bar a{
    text-decoration: none;
    font-size: 30px;
    color: blue;
}

.nav_bar a:hover {
    border-color: darkred;
    color: black;
}

.list_container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
    row-gap: 5vw;
    width: 80vw;
    margin: auto;
}

.driver_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    font-size: 25px;
    height: 35vh;
    color: white;
    background-size: 100%;
    border: 2px solid red;
    border-radius: 20px;
}

.driver_container:hover{
    background-color: black;
}

.list_container a {
    text-decoration: none;
}