/* body {
    background-color: red;
} */

/* FRONT PAGE */


/* .title {
    color: white;
    text-align: center;
    font-size: 40px;
}

.title a{
    text-decoration: none;
    color: white;
}

.sub_title {
    font-size: 25px;
    color: white;
}

.nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 20vh;
    margin: auto;
}

.nav_bar a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    border: ivory;
    border-width: 3px;
    padding: 2vw;
}

.nav_bar a:hover {
    border-color: darkred;
    color: black;
} */