
* {
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', cursive;
}



body {
    position: relative;
}


a{
    text-decoration: none;
    color: black;
}

/* FRONT PAGE */

.title {
    text-align: center;
    font-size: 55px;
    color: #E72929;
    background-color: black;
}

.title a{
    text-decoration: none;
    color: #E72929;
    font-family: 'Faster One', cursive;
}

.sub_title {
    font-size: 25px;
    color: #E72929;
    padding-bottom: 2rem;
}




.nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    height: 10vh;
    margin: auto;
}


.nav_bar a{
    text-decoration: none;
    font-size: 30px;
    color: #E72929;
}

.nav_bar a:hover {
    border-color: darkred;
    color: black;
}


.page_title{
    padding: 2rem;
    margin-bottom: 5rem;
    background-color: black;
}

footer{
    margin-top: 15vh;
    height: 20vh;
    background-color: black;
}

/* DRIVERS LIST */

.list_container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10vw;
    row-gap: 5vw;
    width: 70vw;
    margin: auto;
}

.driver_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    width: 100%;
    height: 5vh;
    color: black;
    background-color: #E72929;
    border: 2px solid black;
    border-radius:  0px 50px 0px 0px;
}

/* .hov:hover, .hov::after {
    content: "";
    background-color: white;
    background-size: contain;
    opacity: 0.7;
    border-radius:  0px 50px 0px 50px;
    z-index: -1;
} */

.driver_headshot{
    height: 30vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius:  0px 0px 0px 50px;
    border-top: none;
}

/* DRIVER*/

.driver{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 90vw;
    margin: auto;
}

.driver_info{
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-items: center;
    height: 50%;
    width: 50%;
    font-size: 30px;
    border-radius: 20px;
}
.driver_img{
    height: 40vh;
    width: 40vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}



/* RACES */

.race_container{
    display: grid;
    grid-template-columns: auto;
    row-gap: 7vw;
    width: 80vw;
    margin: auto;
}

.race_item{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    font-size: 25px;
    height: 8vh;
    width: 100%;
    color: #E72929;
    background-color: black;
    background-size: 100%;
    border: 3px solid black;
    border-radius: 0px 50px 0px 0px;
}

.race_img{
    width: 100%;
    height: 40vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    border: 3px solid black;
    border-radius: 0px 0px 0px 50px;
    border-top: none;
    position: relative;
}



.outline{
    grid-column-start: 2;
    height: 5vh;
    width: 5vh;
    grid-row: 2 / 2;
}


.team_container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5vw;
    row-gap: 5vw;
    width: 80vw;
    margin: auto;
}

.team_item{
    display: grid;
    grid-template-rows: auto auto;
    align-items: space-around;
    justify-items: center;
    font-size: 40px;
    text-decoration: underline;
    height: 20vh;
    width: 100%;
    color: black;
    background-size: 100%;
    border: 3px solid;
    border-radius: 10px 50px 20px 25px;
}

.logo {
    height: 15vh;
    width: 15%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}


.result_container{
    display: grid;
    grid-template-columns: auto;
    row-gap: 1vw;
    width: 60vw;
    margin: auto;
}

.result_item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    height: 10vh;
    width: 100%;
    color: #E72929;
    background-size: 100%;
    background-color: black;
    border: 3px solid black;
    border-radius: 10px 50px 20px 25px;
}