<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F WAN</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/colours.css">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="title">

    <h1><a href="/">F WAN</a></h1>
    <h2 class="sub_title">What if the 2020 season took place?</h2>
</div>

<div class="nav_bar">
    <a href="/drivers">DRIVERS</a>
    <a href="/teams">TEAMS</a>
    <a href="/races">RACES</a>
    <a href="/results">RESULTS</a>
</div>

    

    <%= yield %>

</body>

<footer class="foot"></footer>

</html>