<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F WAN</title>
</head>
<body>
    <h1><a href="/">F WAN</a></h1>
    <h2>What if the 2020 season took place?</h2>

    <a href="/drivers">DRIVERS</a>
    <a href="/teams">TEAMS</a>
    <a href="/races">RACES</a>
    <a href="/results">RESULTS</a>

    <%= yield %>

</body>
</html>