<form method="post" action="/races/<%= @race.id %>">
    <label for="location">Location:</label>
    <input id="location" type="text" name="location"/>

    <label for="date">Date:</label>
    <input id="date" type="text" name="date"/>
  
    <input type="submit" value="Change Details">
</form>