<h1>Drivers</h1>

<% @drivers.each do |driver| %>
<div class="driver_container">
    <p><a href="/drivers/<%= driver.id %>"><%= driver.pretty_name %><a></p>
    <p><%= driver.team.name %></p>
</div>
<%end%>
