<h1 class="title">Drivers</h1>

<div class="list_container" >
    <% @drivers.each do |driver| %>
        <a href="/drivers/<%= driver.id %>">
            <div class="driver_container" style=background-image:url(<%= "#{driver.first_name.downcase}_headshot.jpg" %>) >
                <p><%= driver.pretty_name %></p>
                <p><%= driver.team.name %></p>
            </div>
        </a>
    <%end%>
</div>

