<h1 class="title page_title">Drivers</h1>

<div class="list_container" >
    <% @drivers.each do |driver| %>
        <div class="hov" >
            <a href="/drivers/<%= driver.id %>">
                <div class="driver_container" >
                    <p><%= driver.pretty_name %></p>
                    <p><%= driver.team.name %></p>
                </div>
                <div class="driver_img" style=background-image:url(/headshots/<%= "#{driver.first_name.downcase}_headshot.jpg" %>) ></div>
            </a>
        </div>
    <%end%>
</div>

